.champion {

  &-container{
    width: 75vw;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-variant: small-caps;
      font-size: xx-large;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
  }

  &-header {
    display: flex;

    h1 {
      font-size: 1.75em;
    }
  
    h3 {
      font-size: 0.75em;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .champion-icon {
      width: 20vw;
      height: 100%;
      max-width: 100px;
      margin: auto 20px auto 0;
    }

    .champion-title {
      margin: auto 0px;
    }
  }

  &-stats {
    margin-bottom: 50px;
    width: 45vw;
    min-width: 350px;
  }
}